*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
}
#answer-container0 {
  display: none;
  padding: 20px;
  margin: 10px 0;
  background-color: gray;
}
.answer {
  display: inline-block;
  border-bottom: 1px solid;
}
